doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    style
        include ../css/style.css
  body
    h1= title
    p This is the echo page for the #[a(href="https://daily-planner-sigma.vercel.app/") Daily Planner] API
    p Everything works!