doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Daily Planner API
    style
        include ../css/style.css
  body
    h1= email
    p Your new password is
    h2= password
    a(href="https://daily-planner-sigma.vercel.app/") Back to Daily Planner